1-Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:

mixed_data = [
    "This is a string",        # (i) A string
    ["item1", 2, 3.0],         # (ii) A list
    3.14,                      # (iii) A float
    ("one", 2, "three")        # (iv) A tuple
]


print(mixed_data)


print(type(mixed_data)) 

print(f"The type of the string is: {type(mixed_data[0])}")
print(f"The type of the list is: {type(mixed_data[1])}")
print(f"The type of the float is: {type(mixed_data[2])}")
print(f"The type of the tuple is: {type(mixed_data[3])}")

['This is a string', ['item1', 2, 3.0], 3.14, ('one', 2, 'three')]
<class 'list'>
The type of the string is: <class 'str'>
The type of the list is: <class 'list'>
The type of the float is: <class 'float'>
The type of the tuple is: <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANSWER:
Explanation of data types for the given variables:
(i)var1 = ‘ ‘
Data Type: str (string)
Reason: The value is enclosed in single quotes, which designates it as a string. Even though the string contains only a single space character, it is still treated as text.
(ii)var2 = ‘[ DS , ML , Python]’
Data Type: str (string)
Reason: This variable's value is also a string because it is enclosed in single quotes. The square brackets [] are treated as literal characters, not as Python list syntax, because they are inside the quotation marks.
(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
Data Type: list
Reason: The value is a sequence of items enclosed in square brackets [], with each item separated by a comma. This is the syntax for a Python list.
(IV)var4 = 1
Data Type: int (integer)
Reason: The variable is assigned a whole number without any decimal point. In Python, this is recognized as an integer.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer: (i) / (Division)
The / operator performs standard division and always returns a floating-point number (a number with a decimal), even if the division results in a whole number. EXAMPLE:

In [ ]:
# Standard division of two integers
result1 = 10 / 2
print(result1)  # Output: 5.0

# Standard division resulting in a decimal
result2 = 10 / 3
print(result2)

5.0
3.3333333333333335

(ii) % (Modulo)
The % operator returns the remainder of a division. It is often used to check if a number is even or odd, or to determine if a number is a multiple of another. 
Example:

In [4]:
# Remainder when 10 is divided by 3
remainder1 = 10 % 3
print(remainder1)  

# Remainder when 8 is divided by 2 (an even number)
remainder2 = 8 % 2
print(remainder2)

1
0

(iii) // (Floor Division)
The // operator performs division but rounds the result down to the nearest whole number. This is also known as integer division. 
Example:

In [5]:
# Floor division with positive numbers
result1 = 10 // 3
print(result1)  

# Floor division with negative numbers rounds toward negative infinity
result2 = -10 // 3
print(result2)

3
-4

(iv) ** (Exponentiation)
The ** operator is used to raise a number to the power of another number. The number on the left is the base, and the number on the right is the exponent. 
Example:

In [6]:
# Calculate 2 to the power of 3 (2 * 2 * 2)
power1 = 2 ** 3
print(power1)  

# Calculate 5 to the power of 2 (5 * 5)
power2 = 5 ** 2
print(power2)

8
25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
# Create a list of length 10 with multiple data types
mixed_list = [
    "hello",
    42,
    3.14,
    True,
    (1, 2, 3),
    None,
    [10, 20],
    {"key": "value"},
    False,
    "world"
]

# Use a for loop to iterate through the list
for element in mixed_list:
    # Print the element and its data type
    print(f"Element: {element}, Data Type: {type(element)}")

Element: hello, Data Type: <class 'str'>
Element: 42, Data Type: <class 'int'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: (1, 2, 3), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: [10, 20], Data Type: <class 'list'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: False, Data Type: <class 'bool'>
Element: world, Data Type: <class 'str'>

Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
# Function to check for pure divisibility and count divisions
def count_pure_divisions(A, B):
    """
    Verifies if a number A is purely divisible by number B and counts
    how many times it can be evenly divided.
    """
    if B == 0:
        print("Error: Cannot divide by zero.")
        return

    if A % B != 0:
        print(f"{A} is not purely divisible by {B}.")
        return

    count = 0
    while A % B == 0:
        A = A // B
        count += 1
    
    print(f"{original_A} is purely divisible by {B}.")
    print(f"It can be divided {count} times.")

# Case 1: Purely divisible
number_A = 64
number_B = 2
original_A = number_A  # Store the original number for the print statement
count_pure_divisions(number_A, number_B)

# Case 2: Not purely divisible
number_A = 100
number_B = 3
count_pure_divisions(number_A, number_B)

64 is purely divisible by 2.
It can be divided 6 times.
100 is not purely divisible by 3.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
# Create a list containing 25 integers
int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

# Use a for loop to iterate through each element in the list
for element in int_list:
    # Use an if-else condition to check for divisibility by 3
    if element % 3 == 0:
        print(f"The number {element} is divisible by 3.")
    else:
        print(f"The number {element} is not divisible by 3.")

The number 1 is not divisible by 3.
The number 2 is not divisible by 3.
The number 3 is divisible by 3.
The number 4 is not divisible by 3.
The number 5 is not divisible by 3.
The number 6 is divisible by 3.
The number 7 is not divisible by 3.
The number 8 is not divisible by 3.
The number 9 is divisible by 3.
The number 10 is not divisible by 3.
The number 11 is not divisible by 3.
The number 12 is divisible by 3.
The number 13 is not divisible by 3.
The number 14 is not divisible by 3.
The number 15 is divisible by 3.
The number 16 is not divisible by 3.
The number 17 is not divisible by 3.
The number 18 is divisible by 3.
The number 19 is not divisible by 3.
The number 20 is not divisible by 3.
The number 21 is divisible by 3.
The number 22 is not divisible by 3.
The number 23 is not divisible by 3.
The number 24 is divisible by 3.
The number 25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANSWER:
Mutable data types
A mutable object is one whose value can be changed in-place after it has been created, without creating a new object. Changes made to a mutable object affect all variables that reference it. This behavior can be useful for performance when dealing with large datasets, but can also lead to unexpected side effects. 
Examples of mutable data types:
Lists: You can add, remove, or modify elements.
Dictionaries: You can add, remove, or change key-value pairs.
Sets: You can add or remove elements. 
Example showing mutability
In this example, the list_1 object is modified, and because list_2 points to the same object in memory, its value is also changed.

In [10]:
# Create a list
list_1 = [1, 2, 3]

# Assign a new variable to the same list object
list_2 = list_1

# Check the initial values
print(f"Initial list_1: {list_1}")
print(f"Initial list_2: {list_2}")
print(f"Are they the same object? {list_1 is list_2}")

# Modify the list using list_1
list_1.append(4)

# Print the variables again
print(f"\nAfter modification, list_1: {list_1}")
print(f"After modification, list_2: {list_2}")

Initial list_1: [1, 2, 3]
Initial list_2: [1, 2, 3]
Are they the same object? True

After modification, list_1: [1, 2, 3, 4]
After modification, list_2: [1, 2, 3, 4]

Immutable data types:
An immutable object cannot be modified after it is created. Any operation that appears to "change" an immutable object actually creates a new object with the new value, leaving the original object unchanged. This provides data integrity and is safer to use in concurrent or multi-threaded environments. 
Examples of immutable data types:
Numbers: Integers, floats, and complex numbers.
Strings: A sequence of characters.
Tuples: An ordered collection of items. 
Example showing immutability
In this example, when a new value is assigned to x, a completely new integer object is created in memory. The original object, 5, remains unchanged, and y, which references that original object, is not affected

In [11]:
# Create an integer variable
x = 5

# Assign a new variable to the same integer object
y = x

# Check the initial values
print(f"Initial x: {x}")
print(f"Initial y: {y}")
print(f"Are they the same object? {x is y}")

# Perform an operation that "changes" x
x = x + 2

# Print the variables again
print(f"\nAfter modification, x: {x}")
print(f"After modification, y: {y}")
print(f"Are they the same object? {x is y}")

Initial x: 5
Initial y: 5
Are they the same object? True

After modification, x: 7
After modification, y: 5
Are they the same object? False